@font-face {
    font-family: 'Aerospace';
    src: url('Aerospace/AerospaceRegular.woff2') format('woff2'),
        url('Aerospace/AerospaceRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aerospace';
    src: url('Aerospace/AerospaceRegular.woff2') format('woff2'),
        url('Aerospace/AerospaceRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

