@font-face {
    font-family: 'Vergilia';
    src: url('Vergilia/Vergilia.woff2') format('woff2'),
        url('Vergilia/Vergilia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

