/* ========= Main ========== */
main * {
    color: black;
}

.title {
    margin-top: 50px;
    font-size: 3.5rem;
    font-weight: 600;
}
.list{
    margin-top:30px;
}

.list >li {
    font-size: 1.1rem;
    font-weight: 600;
}

.list li::before {
    content: "#";
    color: red;
}

.sub-list{
    padding-left: 30px;
}

.sub-list >li {
    font-weight: 400;
}
