body{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #faf6f6;
}
.navbar{
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    background: -webkit-linear-gradient(
        to right,
        #8e44ad,
        #c0392b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #8e44ad,
        #c0392b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu ul{
    text-align: center;
}
.menu li{
    display: inline-block;
    margin:0 7%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    transition: 0.5s;
}